<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> FarmDog GPSRTK </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-4.0.0.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pollGPS.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/optionsMenu.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pageNav.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/pageLoad.js') }}"></script>
    </head>
    <body>
        <div id="menuDiv">
            <button id="menuButton" onclick="menuOpenClose()">
                Options
            </button>
            <div id="menu" hidden>
                <div id = "darkModeToggle">
                    Dark Mode <input type="checkbox" id="darkModeCheckbox" onClick="toggleDarkMode()" value="0"/>
                </div>
                <div id= "menuSpecificOptions">
                </div>
            </div>
        </div>
        <div id="titleDiv">
            Farm Dog GPSRTK Application
        </div>
        <div class = "standardSeparator">
        </div>
        <div id = "contentTitle">
            Main Menu
        </div>
        <div class = "standardSeparator">
        </div>
        <div id = "mainContent">
        </div>
    </body>
</html>
