<!DOCTYPE html>
<html lang="en">
    <body>
        <div id = "showHideLabel">
            Show/Hide Data:
        </div>
        <div id = "longditudeMenu">
            Longditude <input type="checkbox" id="longditudeCheckbox" class = "mapMenuCheckbox" onClick="toggleDiv('longditude')" checked/>
        </div>
        <div id = "latitudeMenu">
            Latitude <input type="checkbox" id="latitudeCheckbox" onClick="toggleDiv('latitude')" checked/>
        </div>
        <div id = "altitudeMenu">
            Altitude <input type="checkbox" id="altitudeCheckbox" onClick="toggleDiv('altitude')" checked/>
        </div>
        <div id = "accuracyMenu">
            Accuracy <input type="checkbox" id="accuracyCheckbox" onClick="toggleDiv('accuracy')" checked/>
        </div>
        <div id = "RTKFixMenu">
            RTK Fix Status <input type="checkbox" id="RTKFixCheckbox" onClick="toggleDiv('RTKFix')" checked/>
        </div>
        <div id = "SattelitesMenu">
            Connected Satellites <input type="checkbox" id="sattelitesCheckbox" onClick="toggleDiv('sattelites')" checked/>
        </div>
        <div id = "HDOPMenu">
            HDOP <input type="checkbox" id="hdopCheckbox" onClick="toggleDiv('hdop')" checked/>
        </div>
        <div id = "correctionAgeMenu">
            Correction Age <input type="checkbox" id="correctionAgeCheckbox" onClick="toggleDiv('correctionAge')" checked/>
        </div>
        <div id = "savedPointsMenu">
            Points Saved To File <input type="checkbox" id="savedPointsCheckbox" onClick="toggleDiv('savedPoints')" checked/>
        </div>
        <div id = "metAccuracyTargetMenu">
            Accuracy Target Met <input type="checkbox" id="metAccuracyTargetCheckbox" onClick="toggleDiv('metAccuracyTarget')" checked/>
        </div>
    </body>
</html>
