<button id="return">Return to Main Menu</button>
<div id = "informationDisplay">
    <div id="longitude" class = "mapModeDataDisplay">
        <div id = "longitudeLabel" class = "mapModeDataLabel">
            Longditude
        </div>
        <div id = "longitudeValueView" class = "mapModeDataView">
            <div id = "longitudeValue" class = "mapModeDataValue">
                0.0
            </div>
            <div id = "longitudeMeasurement" class = "mapModeData">
                0.0
            </div>
        </div>
    </div>
</div>
<div id="userInput" class = "mapModeDataDisplay">
    <div id = "userInputLabel" class = "mapModeDataLabel">
        CSV Entry Note
    </div>
    <div id = "userInputValue" class = "mapModeDataValue">
        <input id = "note"></input>
    </div>
</div>
<div id="CSVButtonDiv">
    <button type="button" name= "CSVButton" id="CSVButton"> Add Location to CSV file. </button>
</div>
